# Manga Tracker

# Query column renaming

In [30]:
changes = {
    "emp_id": "employee_id",
    "unique_dept_emp_id": "",
    "emp_id_fname": "first_name",
    "years_of_service": "",
    "emp_id_lname": "last_name",
    "emp_full_name": "full_name",
    "hire_month": "month_hired"
}

In [48]:
query = """
SELECT 
    employee_id AS emp_id,
    first_name AS emp_id_fname,
    last_name AS emp_id_lname,
    CONCAT(first_name, ' ', last_name) AS emp_full_name,
    dob AS birth_date,
    hire_date AS start_date,
    salary AS base_salary,
    department_id AS dept_id,
    YEAR(CURRENT_DATE) - YEAR(dob) AS age,
    YEAR(CURRENT_DATE) - YEAR(hire_date) AS years_of_service,
    CASE 
        WHEN salary > 50000 THEN 'High'
        ELSE 'Low'
    END AS salary_level,
    salary * 0.05 AS bonus,
    salary * 0.1 AS tax_deduction,
    salary - (salary * 0.1) AS salary_after_tax,
    department_id || '-' || employee_id AS unique_dept_emp_id,
    LENGTH(first_name) AS first_name_length,
    LENGTH(last_name) AS last_name_length,
    LEFT(first_name, 1) AS first_initial,
    LEFT(last_name, 1) AS last_initial,
    EXTRACT(MONTH FROM hire_date) AS hire_month
FROM 
    employees;
"""

In [40]:
func_exclude = ['CASE', 'SELECT', 'FROM']
changes.keys('emp_id')

TypeError: dict.keys() takes no arguments (1 given)

In [51]:

num_changes = 0
for q in query.strip().split("\n"):
    break_query = q.split()
    change_bq_case = [bq.upper() for bq in break_query]
    if 'SELECT' in change_bq_case:
        print(break_query[0])
    elif 'CASE' in change_bq_case:
        print(break_query[0])
    else:
        alias_q = break_query[-1]
        find_index = break_query.index(alias_q)
        current_col = alias_q.replace(",", "")
        if current_col in changes:
            break_query[find_index] = f"{changes.get(current_col)},"
            num_changes
        
        print(" ".join(break_query))

SELECT
employee_id
employee_id AS employee_id,
first_name
first_name AS first_name,
last_name
last_name AS last_name,
full_name
CONCAT(first_name, ' ', last_name) AS full_name,
dob AS birth_date,
hire_date AS start_date,
salary AS base_salary,
department_id AS dept_id,
YEAR(CURRENT_DATE) - YEAR(dob) AS age,

YEAR(CURRENT_DATE) - YEAR(hire_date) AS ,
CASE
WHEN salary > 50000 THEN 'High'
ELSE 'Low'
END AS salary_level,
salary * 0.05 AS bonus,
salary * 0.1 AS tax_deduction,
salary - (salary * 0.1) AS salary_after_tax,

department_id || '-' || employee_id AS ,
LENGTH(first_name) AS first_name_length,
LENGTH(last_name) AS last_name_length,
LEFT(first_name, 1) AS first_initial,
LEFT(last_name, 1) AS last_initial,
month_hired
EXTRACT(MONTH FROM hire_date) AS month_hired,
FROM
employees;